@import "_base";

* {
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $body-background;
  font-family: 'Rokkitt', serif;
  font-size: 1.1rem;
  position: relative;
  min-height: 100vh;
}

main {
  max-width: 700px;
  margin: auto;
  padding: 1rem;
  position: relative;
}

header {
  padding: 1rem;
  
  a {
    text-decoration: none;
    color: black;
  }
}

h2, h3, h4 {
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

.flex {
  display: flex;
}

// Navigation
nav {
  ul {
    list-style-type: none;
    
  }
  a {
    display: flex;
    padding: 0.5rem;
    text-decoration: none;
    color: #1b6ec2;
  }
}

// Tables
table {
  width: 100%;
  -webkit-border-horizontal-spacing: 0;
  
  th {
    text-align: left;
    font-family: 'Mulish', sans-serif;
  }
  
  tr {
    td {
      border-top: solid 1px black;
      padding: 0.5rem 0.1rem 0.5rem 0;
    }

    td:last-child{
      text-align: right;
    }
  }
  
  a {
    color: black;
  }
  
  a:last-child {
    color: darken($delete, 10);
  }
  
  //a:nth-child(2){
  //  color: darken($btn-background, 20);
  //}
  //
  //a:nth-child(1){
  //  color: darken($light-blue, 20);
  //}
}

.cd-table {
  margin-top: 2rem;
}

// forms
.form-search {
  #search-box {
    width: 100%;
    padding: 0.2rem;
  }
  
  .btn-submit, .btn-filter {
    padding: 0.2rem;
    background: $light-blue;
    border: none;
    text-decoration: none;
    margin-top: 0.5rem;
  }
}

//button
.btn {
  background: $btn-background;
  color: $btn-color;
  padding: 0.5rem;
  text-decoration: none;
}

.add-btn {
  position: absolute;
  top: 0;
  right: 0;
}

// footer
footer {
  text-align: center;
  padding: 2rem 1rem;
  background: $footer-background;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-content {
  background: $body-background;
  width: fit-content;
  margin: auto;
  padding: 0.5rem;
}