@import "_base";

// styling for links
%links{
  color: black;
  position: relative;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -2px;
    left: -2px;
    height: 5px;
    background: $light-blue;
    opacity: 0.55;
    transition: 0.2s;
    z-index: -1;
  }

  @include desktop {
    &:hover {
      cursor: pointer;
      &::before {
        height: 22px;
      }
    }
  }
}

* {
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $body-background;
  font-family: 'Rokkitt', serif;
  font-size: 1.1rem;
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 3rem 1rem;
  position: relative;
}

.super-container {
  max-width: 1320px;
  margin: auto;
}

header {
  padding: 1rem;
  
  a {
    text-decoration: none;
    color: black;
  }
}

h2, h3, h4 {
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 0;
  
  @include mobile {
    font-size: 2.5rem;
  }
}

.flex {
  display: flex;
}

// Navigation
nav {
  ul {
    list-style-type: none;
  }
  
  li {
    margin-right: 1rem;
  }
  
  a {
    @extend %links;
  }
}

// Tables
table {
  width: 100%;
  -webkit-border-horizontal-spacing: 0;
  
  th {
    text-align: left;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;

    @include tablet {
      display: none;
    }
  }
  
  tr {
    @include tablet {
      margin-bottom: 2rem;
      display: block;
      
    }
    
    td {
      border-top: solid 1px black;
      padding: 0.5rem 0.1rem 0.5rem 0;
      
      @include desktop {
        &:first-child {
          max-width: 100px;
        }
      }
      
      @include tablet {
        display: block;
        padding-left: 1rem;
        
        &:first-child{
          background: $btn-color;
          font-size: 1.5rem;
          border-top: none;
          position: relative;
          
        }
        
        &:nth-child(2){
          border-top: none;
        }
      }
    }

    td:last-child{
      text-align: right;
    }
  }
  
  a {
    @extend %links;
  }
  
  a:last-child {
    &::before{
      background: $delete;
    }
  }
  
  a:nth-child(2){
    &::before {
      background: darken($yellow-dark, 8);
    }
  }
}

.cd-table {
  margin-top: 2rem;
  
  @include tablet {
    td {
      &:first-child{
        &::after {
          content: "\f51f";
          font-family: "Font Awesome 5 Free";
        }
      }
    }
  }
}

// forms
.edit-form, .add-form {
  input {
    display: block;
    width: 100%;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 10px;
  }
  
  label {
    margin-left: 0.1rem;
    margin-top: 0.5rem;
    display: block;
  }
  
  // button
  input:last-child {
    margin-top: 1rem;
    width: 150px;
    margin-left: auto;
    transition: 0.2s;
    border-radius: unset;
    
    @include desktop {
      &:hover {
        cursor: pointer;
        background: $btn-dark;
      }
    }
  }
}

.form-search {
  #search-box {
    width: 100%;
    padding: 0.2rem 0.8rem;
    border: none;
    border-radius: 20px;
  }
  
  .btn-submit, .btn-filter {
    padding: 0.1rem 0.5rem;
    background: $btn-background;
    border: none;
    text-decoration: none;
    margin-top: 0.5rem;
    color: $btn-color;
    transition: 0.2s;
    display: block;
    margin-right: 10px;
    border-radius: 10px;
    
    @include desktop {
      &:hover {
        cursor: pointer;
        background: $btn-dark;
      }
    }
  }
  .btn-container {
    margin-left: 0.3rem;
  }
}

// links
.btn-delete {
  border: none;
  background: none;
}

.link {
  @extend %links;
  
  &::before {
    background: darken($yellow-dark, 8);
  }
}

.delete-wrapper {
  &::before {
    background: $delete;
  }
}

.link-edit::before {
  background: $light-blue;
}

// buttons
.btn {
  background: $btn-background;
  color: $btn-color;
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  transition: 0.2s;
}

.add-btn {
  position: absolute;
  top: 0;
  right: 1rem;
  
  @include desktop {
    &:hover {
      background: $btn-dark;
    }
  }
}

// details
dt {
  font-weight: bold;
  font-size: 1.2rem;
}

.border-bottom {
  border-bottom: solid 1px black;
}

.border-top {
  border-top: solid 1px black;
}

// footer
footer {
  text-align: center;
  padding: 2rem 1rem;
  background: $footer-background;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-content {
  background: $body-background;
  width: fit-content;
  margin: auto;
  padding: 0.5rem;
}