@model dt191g_moment32.Models.Loan

@{
    ViewData["Title"] = "Nytt lån";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nytt lån</h2>

<h3>Lån</h3>
<div>
    <div>
        <form asp-action="Create" class="add-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CdId" class="control-label"></label>
                <select asp-for="CdId" class="form-control" asp-items="ViewBag.CdId"></select>
                <span asp-validation-for="CdId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Skapa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="link" asp-action="Index">Tillbaka</a>
</div>

